In [2]:
# 处理时间序列类型
from datetime import datetime
from datetime import timedelta # 表示两个时间的差
import pandas as pd
import numpy as np

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2022, 3, 25, 8, 57, 49, 541770)

In [5]:
now.year, now.month, now.day # 创建年月日元组

(2022, 3, 25)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [7]:
delta

datetime.timedelta(days=926, seconds=56700)

In [8]:
start = datetime(2011, 1, 7)

In [9]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [10]:
start + timedelta(seconds=12) # 添加12个间隔 days

datetime.datetime(2011, 1, 7, 0, 0, 12)

In [11]:
timedelta?

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
stamp.strftime('%Y-%m-%d-%H-%M-%S%F')

'2011-01-03-00-00-002011-01-03'

In [16]:
365 / 7

52.142857142857146

In [17]:
value = '2011-01-03'

In [18]:
value

'2011-01-03'

In [19]:
datetime.strptime(value, "%Y-%m-%d") # 为什么不能传入%F

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs = ['7/6/2011', '8/6/2011']

In [21]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse

In [23]:
parse('2002-1-12')

datetime.datetime(2002, 1, 12, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('6/12/2022', dayfirst=True)

datetime.datetime(2022, 12, 6, 0, 0)

In [26]:
datestrs = ['7/6/2011', '8/6/2011']

In [27]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [28]:
idx = pd.to_datetime(datestrs + [None])

In [29]:
idx[2]

NaT

In [30]:
pd.isnull(idx)

array([False, False,  True])

In [31]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
[item.strftime('%x') for item in idx.dropna()]

['07/06/11', '08/06/11']

In [33]:
dates = ['2001-1-2', '2011-1-5', '2011-1-7', '2011-1-8', '2011-1-9']

In [34]:
length = len(dates)

In [35]:
ts = pd.Series(np.random.randn(length), index=dates) # 直接用str生成索引

In [36]:
ts

2001-1-2   -1.657215
2011-1-5    0.220609
2011-1-7   -0.247095
2011-1-8   -0.804631
2011-1-9   -1.196899
dtype: float64

In [37]:
ts.index

Index(['2001-1-2', '2011-1-5', '2011-1-7', '2011-1-8', '2011-1-9'], dtype='object')

In [38]:
dates = list(map(parse, dates))

In [39]:
dates

[datetime.datetime(2001, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 9, 0, 0)]

In [40]:
ts = pd.Series(np.random.randn(length), index=dates) # 利用datetime对象生成index

In [41]:
ts

2001-01-02    1.083219
2011-01-05   -0.123127
2011-01-07   -1.622847
2011-01-08   -0.436533
2011-01-09    0.167961
dtype: float64

In [42]:
ts.index

DatetimeIndex(['2001-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-09'],
              dtype='datetime64[ns]', freq=None)

In [43]:
ts.index[0]

Timestamp('2001-01-02 00:00:00')

In [44]:
ts + ts[::2]

2001-01-02    2.166438
2011-01-05         NaN
2011-01-07   -3.245695
2011-01-08         NaN
2011-01-09    0.335922
dtype: float64

In [45]:
ts[::2]

2001-01-02    1.083219
2011-01-07   -1.622847
2011-01-09    0.167961
dtype: float64

In [46]:
ts.index.dtype

dtype('<M8[ns]')

In [47]:
stamp = ts.index[0]

In [48]:
stamp

Timestamp('2001-01-02 00:00:00')

In [49]:
ts[stamp]

1.083219135593366

In [50]:
ts['1/9/2011'] # 可以传入字符串

0.16796078942535897

In [51]:
ts['2011-1-9']

0.16796078942535897

In [52]:
ts['20110109']

0.16796078942535897

In [53]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000', periods=1000))

In [54]:
longer_ts

2000-01-01    0.754358
2000-01-02   -0.974822
2000-01-03    0.632290
2000-01-04    0.315993
2000-01-05   -1.887149
                ...
2002-09-22   -1.005395
2002-09-23   -0.921755
2002-09-24   -1.643986
2002-09-25   -0.499909
2002-09-26   -1.210904
Freq: D, Length: 1000, dtype: float64

In [55]:
longer_ts['2000-01']

2000-01-01    0.754358
2000-01-02   -0.974822
2000-01-03    0.632290
2000-01-04    0.315993
2000-01-05   -1.887149
2000-01-06    1.718369
2000-01-07   -1.261030
2000-01-08    0.583044
2000-01-09   -0.314606
2000-01-10   -0.904805
2000-01-11   -0.968423
2000-01-12    0.380674
2000-01-13   -0.169482
2000-01-14    1.087627
2000-01-15    0.857766
2000-01-16    0.728689
2000-01-17    0.917556
2000-01-18    0.744588
2000-01-19   -0.182312
2000-01-20   -0.421922
2000-01-21   -0.508915
2000-01-22   -0.955864
2000-01-23   -0.064427
2000-01-24   -0.418299
2000-01-25    0.429141
2000-01-26    0.602603
2000-01-27    0.430157
2000-01-28    2.124864
2000-01-29    0.384188
2000-01-30   -1.301426
2000-01-31    0.347939
Freq: D, dtype: float64

In [56]:
longer_ts['2000-05-01']

0.4923643568162857

In [57]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.622847
2011-01-08   -0.436533
2011-01-09    0.167961
dtype: float64

In [58]:
longer_ts.rename(index={datetime(2000, 1, 1): datetime(2000, 11, 28)}, inplace=True)

In [59]:
longer_ts['2000-11']

2000-11-28    0.754358
2000-11-01    0.479430
2000-11-02    0.817153
2000-11-03   -0.179788
2000-11-04    1.583351
2000-11-05    1.374917
2000-11-06    0.169694
2000-11-07   -0.313367
2000-11-08   -0.616881
2000-11-09   -0.664785
2000-11-10    0.016103
2000-11-11    1.656288
2000-11-12   -2.404784
2000-11-13   -1.692358
2000-11-14    0.162103
2000-11-15    0.683279
2000-11-16    0.948502
2000-11-17    0.366813
2000-11-18    0.439336
2000-11-19    1.126868
2000-11-20    1.280788
2000-11-21    0.104538
2000-11-22    0.149537
2000-11-23   -0.323920
2000-11-24   -0.008989
2000-11-25    2.206362
2000-11-26   -1.710837
2000-11-27   -0.836656
2000-11-28   -0.739931
2000-11-29   -2.074062
2000-11-30    0.463490
dtype: float64

In [60]:
longer_ts.sort_index(inplace=True)

In [61]:
longer_ts

2000-01-02   -0.974822
2000-01-03    0.632290
2000-01-04    0.315993
2000-01-05   -1.887149
2000-01-06    1.718369
                ...
2002-09-22   -1.005395
2002-09-23   -0.921755
2002-09-24   -1.643986
2002-09-25   -0.499909
2002-09-26   -1.210904
Length: 1000, dtype: float64

In [62]:
ts['1/6/2011': '1/11/2011'] # 提供范围索引

2011-01-07   -1.622847
2011-01-08   -0.436533
2011-01-09    0.167961
dtype: float64

In [63]:
ts.truncate()

2001-01-02    1.083219
2011-01-05   -0.123127
2011-01-07   -1.622847
2011-01-08   -0.436533
2011-01-09    0.167961
dtype: float64

In [64]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [65]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [66]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates,
                      columns=['Colorado', 'Texas',
                              'New York', 'Ohio']) # 使用DatetimeIndex作为index

In [67]:
long_df.truncate('2000-1-25', '2001-1-3')

            Colorado     Texas  New York      Ohio
2000-01-26  0.716736  1.612196  0.806900  1.187047
2000-02-02  1.683888 -0.579880  1.163493 -0.363389
2000-02-09  1.563380  0.451282 -0.190360  0.928689
2000-02-16  0.526298  0.261203  2.029119 -0.199626
2000-02-23  0.433849 -0.957811  0.593797  0.055170
2000-03-01 -0.409630 -1.383387  0.708196 -0.605968
2000-03-08 -1.601064 -1.059497 -0.604199  1.123573
2000-03-15  0.430940  0.296976  1.198959  0.548913
2000-03-22  0.589283 -0.249866  0.070508  0.267410
2000-03-29  1.023104  0.006115 -0.164506 -1.215729
2000-04-05  0.394643  0.817487 -1.321363 -1.498410
2000-04-12  0.079774 -0.681498  1.249781 -1.415194
2000-04-19 -0.228762 -0.174164 -0.999307 -0.001127
2000-04-26 -0.124965  0.287976  1.546641 -1.110399
2000-05-03  1.772037  1.362244 -0.070072  0.449710
2000-05-10 -1.309006 -1.504461  1.094582 -0.398278
2000-05-17  0.624340 -1.577077  2.169313 -0.851678
2000-05-24 -0.134150 -0.025893 -0.125638  1.186203
2000-05-31 -0.266835  0.969092 -0.000519 -0.114470
2000-06-07 -0.581239 -0.315302 -0.488151  0.266554
2000-06-14  1.681149  0.929884  0.002124 -0.746182
2000-06-21  1.140811  1.312119  0.290567 -0.647933
2000-06-28  1.048975  0.784574 -1.784292 -0.773008
2000-07-05  1.659785  1.378284 -0.819547 -1.412791
2000-07-12  0.049113 -1.100339  1.050732 -1.795098
2000-07-19  0.412790  1.241904  0.150548  0.117904
2000-07-26  0.669489  0.988005 -1.788005  0.308093
2000-08-02  0.024844  0.148671 -0.054460  1.032262
2000-08-09  0.525831 -1.766368  0.785070  0.984248
2000-08-16  0.583283  0.822969 -0.315276 -1.019748
2000-08-23 -1.217962 -0.019172 -1.419931  1.481052
2000-08-30 -1.133644  0.609342  1.569678 -0.621353
2000-09-06 -0.685347  0.899969 -1.036017 -0.866383
2000-09-13 -0.746935 -0.541082 -0.598666  2.749655
2000-09-20  1.273281  0.516688  0.000896 -1.396145
2000-09-27  0.265062  1.741866 -0.642988 -1.514305
2000-10-04  0.105965 -0.494093 -0.293483  0.359364
2000-10-11  0.866424 -1.008160  1.555847 -0.049579
2000-10-18  0.079882  1.126972 -0.288544 -0.483875
2000-10-25 -1.741321  0.074941  0.920044  0.726076
2000-11-01  2.135209  0.102580 -0.599580  0.052482
2000-11-08 -0.193612 -0.102151  0.380579 -0.133581
2000-11-15 -0.410892 -0.987172 -0.742901 -0.441392
2000-11-22 -0.747845  0.862770 -1.620065 -0.346733
2000-11-29  2.121912 -0.216542 -0.694149  0.485758
2000-12-06 -0.850760  1.222457  2.349935 -0.313752
2000-12-13  0.235972  1.011691 -0.504942  0.907777
2000-12-20 -0.633526 -0.272056 -0.880903 -1.942154
2000-12-27  0.781725  0.574416  0.003308  0.305890
2001-01-03  0.295969  0.551553 -0.419933  0.908603

In [68]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -2.472300 -0.404854  0.914330  0.205162
2001-05-09 -1.276198  0.073907 -2.025129  0.114681
2001-05-16 -1.204070  0.310309 -0.792578  0.873216
2001-05-23  1.843380  0.594302  1.181747  0.315758
2001-05-30 -1.277091 -2.168689  0.074772  0.687180

In [69]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                         '1/2/2000', '1/3/2000'])

In [70]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [71]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [72]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [73]:
dup_ts.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [74]:
dup_ts.index.is_unique

False

In [75]:
dup_ts['1/3/2000']

4

In [76]:
dup_ts['1/2/2000'] # 月日年

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [77]:
dup_ts.groupby(level=0).size()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [78]:
grouped = dup_ts.groupby(level=0)

In [79]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [80]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [81]:
ts

2001-01-02    1.083219
2011-01-05   -0.123127
2011-01-07   -1.622847
2011-01-08   -0.436533
2011-01-09    0.167961
dtype: float64

In [82]:
resampler = ts.resample('D')

In [83]:
resampler

In [84]:
for date in resampler:
    print(date)

(Timestamp('2001-01-02 00:00:00', freq='D'), 2001-01-02    1.083219
dtype: float64)
(Timestamp('2001-01-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-01-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-02-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-03-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-04-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-05-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-06-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-07-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-08-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-09-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2001-10-01 00:00:00', freq='D'), Series([], dtype: float64))

(Timestamp('2002-08-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-08-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-08-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-08-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-08-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-08-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-08-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-09-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-10-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-11-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2002-12-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-01-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-02-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-03-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-04-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2003-05-24 00:00:00', freq='D'), Series([], dtype: float64))

(Timestamp('2004-07-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-07-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-07-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-07-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-07-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-08-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-09-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-10-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-11-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2004-12-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-01-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-02-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-03-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2005-04-25 00:00:00', freq='D'), Series([], dtype: float64))

(Timestamp('2006-05-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-05-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-06-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-07-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-08-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-09-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-10-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-11-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2006-12-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-01-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2007-02-13 00:00:00', freq='D'), Series([], dtype: float64))

(Timestamp('2008-05-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-05-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-06-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-07-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-08-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-09-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-10-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-11-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2008-12-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-01-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-02-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-02-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-02-03 00:00:00', freq='D'), Series([], dtype: float64))

(Timestamp('2009-05-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-05-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-06-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-07-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-08-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-09-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-10-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-11-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2009-12-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-13 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-14 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-15 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-16 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-17 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-18 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-19 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-20 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-21 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-22 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-23 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-24 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-25 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-26 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-27 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-28 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-29 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-30 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-01-31 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-01 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-02 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-03 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-04 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-05 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-06 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-07 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-08 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-09 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-10 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-11 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-12 00:00:00', freq='D'), Series([], dtype: float64))
(Timestamp('2010-02-13 00:00:00', freq='D'), Series([], dtype: float64))

In [85]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [86]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [87]:
pd.date_range(end='2012-04-01', periods=20) # 还可以向前生成

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [88]:
pd.date_range('2000-01-01', freq='S', periods=100)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:00:01',
               '2000-01-01 00:00:02', '2000-01-01 00:00:03',
               '2000-01-01 00:00:04', '2000-01-01 00:00:05',
               '2000-01-01 00:00:06', '2000-01-01 00:00:07',
               '2000-01-01 00:00:08', '2000-01-01 00:00:09',
               '2000-01-01 00:00:10', '2000-01-01 00:00:11',
               '2000-01-01 00:00:12', '2000-01-01 00:00:13',
               '2000-01-01 00:00:14', '2000-01-01 00:00:15',
               '2000-01-01 00:00:16', '2000-01-01 00:00:17',
               '2000-01-01 00:00:18', '2000-01-01 00:00:19',
               '2000-01-01 00:00:20', '2000-01-01 00:00:21',
               '2000-01-01 00:00:22', '2000-01-01 00:00:23',
               '2000-01-01 00:00:24', '2000-01-01 00:00:25',
               '2000-01-01 00:00:26', '2000-01-01 00:00:27',
               '2000-01-01 00:00:28', '2000-01-01 00:00:29',
               '2000-01-01 00:00:30', '2000-01-01 00:00:31',
               '2000-01-01 00:00:32', '2000-01-01 00:00:33',
               '2000-01-01 00:00:34', '2000-01-01 00:00:35',
               '2000-01-01 00:00:36', '2000-01-01 00:00:37',
               '2000-01-01 00:00:38', '2000-01-01 00:00:39',
               '2000-01-01 00:00:40', '2000-01-01 00:00:41',
               '2000-01-01 00:00:42', '2000-01-01 00:00:43',
               '2000-01-01 00:00:44', '2000-01-01 00:00:45',
               '2000-01-01 00:00:46', '2000-01-01 00:00:47',
               '2000-01-01 00:00:48', '2000-01-01 00:00:49',
               '2000-01-01 00:00:50', '2000-01-01 00:00:51',
               '2000-01-01 00:00:52', '2000-01-01 00:00:53',
               '2000-01-01 00:00:54', '2000-01-01 00:00:55',
               '2000-01-01 00:00:56', '2000-01-01 00:00:57',
               '2000-01-01 00:00:58', '2000-01-01 00:00:59',
               '2000-01-01 00:01:00', '2000-01-01 00:01:01',
               '2000-01-01 00:01:02', '2000-01-01 00:01:03',
               '2000-01-01 00:01:04', '2000-01-01 00:01:05',
               '2000-01-01 00:01:06', '2000-01-01 00:01:07',
               '2000-01-01 00:01:08', '2000-01-01 00:01:09',
               '2000-01-01 00:01:10', '2000-01-01 00:01:11',
               '2000-01-01 00:01:12', '2000-01-01 00:01:13',
               '2000-01-01 00:01:14', '2000-01-01 00:01:15',
               '2000-01-01 00:01:16', '2000-01-01 00:01:17',
               '2000-01-01 00:01:18', '2000-01-01 00:01:19',
               '2000-01-01 00:01:20', '2000-01-01 00:01:21',
               '2000-01-01 00:01:22', '2000-01-01 00:01:23',
               '2000-01-01 00:01:24', '2000-01-01 00:01:25',
               '2000-01-01 00:01:26', '2000-01-01 00:01:27',
               '2000-01-01 00:01:28', '2000-01-01 00:01:29',
               '2000-01-01 00:01:30', '2000-01-01 00:01:31',
               '2000-01-01 00:01:32', '2000-01-01 00:01:33',
               '2000-01-01 00:01:34', '2000-01-01 00:01:35',
               '2000-01-01 00:01:36', '2000-01-01 00:01:37',
               '2000-01-01 00:01:38', '2000-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [89]:
pd.date_range('2012-05-02 12:56:12', periods=10, freq='B', normalize=True) # 是否对时间进行标准化处理

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-07',
               '2012-05-08', '2012-05-09', '2012-05-10', '2012-05-11',
               '2012-05-14', '2012-05-15'],
              dtype='datetime64[ns]', freq='B')

In [90]:
from pandas.tseries.offsets import Hour, Minute

In [91]:
hour = Hour()

In [92]:
hour

In [93]:
four_hours = Hour(4)

In [94]:
four_hours

In [95]:
pd.date_range('2000-01-01', '2000-01-03', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [96]:
Hour(2) + Minute(30)

In [97]:
pd.date_range('2000-01-01', periods=20, freq='2h15min') # 使用基础类型自定义时间间隔

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 02:15:00',
               '2000-01-01 04:30:00', '2000-01-01 06:45:00',
               '2000-01-01 09:00:00', '2000-01-01 11:15:00',
               '2000-01-01 13:30:00', '2000-01-01 15:45:00',
               '2000-01-01 18:00:00', '2000-01-01 20:15:00',
               '2000-01-01 22:30:00', '2000-01-02 00:45:00',
               '2000-01-02 03:00:00', '2000-01-02 05:15:00',
               '2000-01-02 07:30:00', '2000-01-02 09:45:00',
               '2000-01-02 12:00:00', '2000-01-02 14:15:00',
               '2000-01-02 16:30:00', '2000-01-02 18:45:00'],
              dtype='datetime64[ns]', freq='135T')

In [98]:
rng = pd.date_range('2000-01-01', periods=20, freq='WOM-2FRI') # 使用基础类型自定义时间间隔

In [99]:
list(rng)

[Timestamp('2000-01-14 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-02-11 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-03-10 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-04-14 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-05-12 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-06-09 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-07-14 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-08-11 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-09-08 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-10-13 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-11-10 00:00:00', freq='WOM-2FRI'),
 Timestamp('2000-12-08 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-01-12 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-02-09 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-03-09 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-04-13 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-05-11 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-06-08 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-07-13 00:00:00', freq='WOM-2FRI'),
 Timestamp('2001-08-10 00:00:00', freq='WOM-2FRI')]

In [100]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [101]:
ts

2000-01-31    1.357191
2000-02-29    1.600291
2000-03-31   -0.356295
2000-04-30    1.071593
Freq: M, dtype: float64

In [102]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.357191
2000-04-30    1.600291
Freq: M, dtype: float64

In [103]:
ts.shift(freq=timedelta(20))

2000-02-20    1.357191
2000-03-20    1.600291
2000-04-20   -0.356295
2000-05-20    1.071593
dtype: float64

In [104]:
ts.shift(2, fill_value=10) # 如果产生了na则用value进行填充

2000-01-31    10.000000
2000-02-29    10.000000
2000-03-31     1.357191
2000-04-30     1.600291
Freq: M, dtype: float64

In [105]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    0.179120
2000-03-31   -1.222644
2000-04-30   -4.007600
Freq: M, dtype: float64

In [106]:
ts.shift(3, freq='M')

2000-04-30    1.357191
2000-05-31    1.600291
2000-06-30   -0.356295
2000-07-31    1.071593
Freq: M, dtype: float64

In [107]:
ts.shift(3, freq='90T')

2000-01-31 04:30:00    1.357191
2000-02-29 04:30:00    1.600291
2000-03-31 04:30:00   -0.356295
2000-04-30 04:30:00    1.071593
dtype: float64

In [108]:
ts.shift?

In [109]:
from pandas.tseries.offsets import Day, MonthEnd, Week

In [110]:
now = datetime(2011, 11, 17)

In [111]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [112]:
now + Day(3)

Timestamp('2011-11-20 00:00:00')

In [113]:
now + Week(2, weekday=2)

Timestamp('2011-11-30 00:00:00')

In [114]:
Week?

In [115]:
offset = MonthEnd()

In [116]:
offset

In [117]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [118]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [119]:
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [120]:
ts

2000-01-15   -1.730440
2000-01-19    0.404422
2000-01-23   -0.139174
2000-01-27   -0.117330
2000-01-31   -0.339574
2000-02-04   -1.583260
2000-02-08    0.806698
2000-02-12   -0.559944
2000-02-16   -0.485259
2000-02-20    0.402509
2000-02-24    0.227017
2000-02-28    0.915633
2000-03-03    0.342859
2000-03-07    0.479005
2000-03-11    0.251633
2000-03-15    0.459771
2000-03-19    1.106388
2000-03-23   -0.752128
2000-03-27   -0.282107
2000-03-31    0.539594
Freq: 4D, dtype: float64

In [121]:
ts.groupby(offset.rollforward).size() # 使用函数进行聚合分组

2000-01-31    5
2000-02-29    7
2000-03-31    8
dtype: int64

In [122]:
ts.groupby(offset.rollback).mean()

1999-12-31   -0.395631
2000-01-31   -0.077022
2000-02-29    0.229346
2000-03-31    0.539594
dtype: float64

In [123]:
ts.resample('M').mean() # 使用偏移量别名进行重采样

2000-01-31   -0.384419
2000-02-29   -0.039515
2000-03-31    0.268127
Freq: M, dtype: float64

In [124]:
time_index = pd.date_range('2001-1-2', freq='W-WED', periods=10, name='timestamp')

In [125]:
fuck = pd.Series(np.random.randn(10),
                index=time_index)

In [126]:
fuck

timestamp
2001-01-03    0.815570
2001-01-10    0.120855
2001-01-17   -1.542489
2001-01-24    0.977886
2001-01-31    0.549157
2001-02-07   -1.746754
2001-02-14   -0.836430
2001-02-21   -0.401253
2001-02-28    0.011200
2001-03-07    0.207839
Freq: W-WED, dtype: float64

In [127]:
import pytz # pd中内置的处理时间的库

In [128]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [129]:
tz = pytz.timezone('America/New_York')

In [130]:
tz

In [131]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [132]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [133]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [134]:
ts

2012-03-09 09:30:00    0.505866
2012-03-10 09:30:00    0.072117
2012-03-11 09:30:00   -0.432261
2012-03-12 09:30:00    0.067058
2012-03-13 09:30:00   -0.702998
2012-03-14 09:30:00    0.784229
Freq: D, dtype: float64

In [135]:
print(ts.index.tz)

None

In [136]:
pd.date_range('3/9/2011', periods=10, freq='D', tz='UTC') # 特定的时间

DatetimeIndex(['2011-03-09 00:00:00+00:00', '2011-03-10 00:00:00+00:00',
               '2011-03-11 00:00:00+00:00', '2011-03-12 00:00:00+00:00',
               '2011-03-13 00:00:00+00:00', '2011-03-14 00:00:00+00:00',
               '2011-03-15 00:00:00+00:00', '2011-03-16 00:00:00+00:00',
               '2011-03-17 00:00:00+00:00', '2011-03-18 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [137]:
ts

2012-03-09 09:30:00    0.505866
2012-03-10 09:30:00    0.072117
2012-03-11 09:30:00   -0.432261
2012-03-12 09:30:00    0.067058
2012-03-13 09:30:00   -0.702998
2012-03-14 09:30:00    0.784229
Freq: D, dtype: float64

In [138]:
ts_utc = ts.tz_localize('UTC') # 转换为标准时间UTC

In [139]:
ts_utc

2012-03-09 09:30:00+00:00    0.505866
2012-03-10 09:30:00+00:00    0.072117
2012-03-11 09:30:00+00:00   -0.432261
2012-03-12 09:30:00+00:00    0.067058
2012-03-13 09:30:00+00:00   -0.702998
2012-03-14 09:30:00+00:00    0.784229
Freq: D, dtype: float64

In [140]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [141]:
ts_utc.index.tz

In [142]:
ts_eastern = ts.tz_localize('America/Chicago')

In [143]:
ts_eastern

2012-03-09 09:30:00-06:00    0.505866
2012-03-10 09:30:00-06:00    0.072117
2012-03-11 09:30:00-05:00   -0.432261
2012-03-12 09:30:00-05:00    0.067058
2012-03-13 09:30:00-05:00   -0.702998
2012-03-14 09:30:00-05:00    0.784229
dtype: float64

In [144]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 16:30:00+01:00    0.505866
2012-03-10 16:30:00+01:00    0.072117
2012-03-11 15:30:00+01:00   -0.432261
2012-03-12 15:30:00+01:00    0.067058
2012-03-13 15:30:00+01:00   -0.702998
2012-03-14 15:30:00+01:00    0.784229
dtype: float64

In [145]:
ts.index

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [146]:
ts.index.tz_localize('America/New_York')[0]

Timestamp('2012-03-09 09:30:00-0500', tz='America/New_York')

In [147]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [148]:
stamp_utc = stamp.tz_localize('utc')

In [149]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [150]:
stamp_ame = stamp_utc.tz_convert('America/Chicago')

In [151]:
stamp_ame

Timestamp('2011-03-11 22:00:00-0600', tz='America/Chicago')

In [152]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [153]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [154]:
stamp_utc.value

1299902400000000000

In [155]:
stamp_utc.tz_convert('America/Chicago').value # 值不改变

1299902400000000000

In [156]:
from pandas.tseries.offsets import Hour

In [157]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [158]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [159]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [160]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [161]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [162]:
stamp + Hour(2)

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [163]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B', normalize=True)

In [164]:
rng

DatetimeIndex(['2012-03-07', '2012-03-08', '2012-03-09', '2012-03-12',
               '2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-19', '2012-03-20'],
              dtype='datetime64[ns]', freq='B')

In [165]:
ts = pd.Series(np.random.randn(len(rng)),  index=rng)

In [166]:
ts

2012-03-07    0.619803
2012-03-08    0.076677
2012-03-09    0.246713
2012-03-12   -1.573888
2012-03-13    1.770049
2012-03-14    0.907045
2012-03-15    0.051099
2012-03-16    0.283769
2012-03-19    1.459690
2012-03-20    0.432297
Freq: B, dtype: float64

In [167]:
ts1 = ts[:7].tz_localize('Europe/London')

In [168]:
ts1

2012-03-07 00:00:00+00:00    0.619803
2012-03-08 00:00:00+00:00    0.076677
2012-03-09 00:00:00+00:00    0.246713
2012-03-12 00:00:00+00:00   -1.573888
2012-03-13 00:00:00+00:00    1.770049
2012-03-14 00:00:00+00:00    0.907045
2012-03-15 00:00:00+00:00    0.051099
dtype: float64

In [169]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [170]:
ts2

2012-03-09 04:00:00+04:00    0.246713
2012-03-12 04:00:00+04:00   -1.573888
2012-03-13 04:00:00+04:00    1.770049
2012-03-14 04:00:00+04:00    0.907045
2012-03-15 04:00:00+04:00    0.051099
dtype: float64

In [171]:
res = ts1 + ts2

In [172]:
res

2012-03-07 00:00:00+00:00         NaN
2012-03-08 00:00:00+00:00         NaN
2012-03-09 00:00:00+00:00    0.493425
2012-03-12 00:00:00+00:00   -3.147776
2012-03-13 00:00:00+00:00    3.540099
2012-03-14 00:00:00+00:00    1.814091
2012-03-15 00:00:00+00:00    0.102199
dtype: float64

In [173]:
res.index

DatetimeIndex(['2012-03-07 00:00:00+00:00', '2012-03-08 00:00:00+00:00',
               '2012-03-09 00:00:00+00:00', '2012-03-12 00:00:00+00:00',
               '2012-03-13 00:00:00+00:00', '2012-03-14 00:00:00+00:00',
               '2012-03-15 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [174]:
ans = pd.date_range('3/7/2012 9:30', periods=10, freq='B', normalize=True, tz='UTC')

In [175]:
ans

DatetimeIndex(['2012-03-07 00:00:00+00:00', '2012-03-08 00:00:00+00:00',
               '2012-03-09 00:00:00+00:00', '2012-03-12 00:00:00+00:00',
               '2012-03-13 00:00:00+00:00', '2012-03-14 00:00:00+00:00',
               '2012-03-15 00:00:00+00:00', '2012-03-16 00:00:00+00:00',
               '2012-03-19 00:00:00+00:00', '2012-03-20 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [177]:
ans.tz_convert('America/Chicago')

DatetimeIndex(['2012-03-06 18:00:00-06:00', '2012-03-07 18:00:00-06:00',
               '2012-03-08 18:00:00-06:00', '2012-03-11 19:00:00-05:00',
               '2012-03-12 19:00:00-05:00', '2012-03-13 19:00:00-05:00',
               '2012-03-14 19:00:00-05:00', '2012-03-15 19:00:00-05:00',
               '2012-03-18 19:00:00-05:00', '2012-03-19 19:00:00-05:00'],
              dtype='datetime64[ns, America/Chicago]', freq='B')

In [178]:
p = pd.Period(2007, freq='A-DEC')

In [179]:
p

Period('2007', 'A-DEC')

In [180]:
p + 5

Period('2012', 'A-DEC')

In [181]:
p - 2

Period('2005', 'A-DEC')

In [183]:
pd.Period('2014', freq='A-DEC') - p

In [187]:
rng = pd.period_range('2001-01-01', '2001-06-30', freq='M')

In [188]:
rng

PeriodIndex(['2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06'], dtype='period[M]')

In [189]:
pd.date_range('2001-01-01', '2001-06-30', freq='M')

DatetimeIndex(['2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30',
               '2001-05-31', '2001-06-30'],
              dtype='datetime64[ns]', freq='M')

In [190]:
pd.Series(np.random.randn(6), index=rng)

2001-01    0.544620
2001-02    0.016749
2001-03   -0.843102
2001-04    1.252328
2001-05    0.794001
2001-06    0.061557
Freq: M, dtype: float64

In [191]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [192]:
values

['2001Q3', '2002Q2', '2003Q1']

In [193]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [194]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [198]:
ans = pd.Period('2001', freq='A-FEB') # ???

In [199]:
ans

Period('2001', 'A-FEB')

In [201]:
ans.start_time

Timestamp('2000-03-01 00:00:00')

In [202]:
ans.end_time

Timestamp('2001-02-28 23:59:59.999999999')

In [203]:
ans = pd.Period('2001', freq='A-DEC') # ???

In [204]:
ans.start_time

Timestamp('2001-01-01 00:00:00')

In [205]:
p

Period('2007', 'A-DEC')

In [206]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [207]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [208]:
p = pd.Period('2007', freq='A-JUN')

In [209]:
p

Period('2007', 'A-JUN')

In [210]:
p.asfreq('M', how='start')

Period('2006-07', 'M')

In [211]:
p.asfreq('M', how='end')

Period('2007-06', 'M')

In [212]:
p.asfreq?

In [213]:
p = pd.Period('Aug-2007', 'M')

In [214]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [215]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [216]:
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]')

In [217]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [218]:
ts

2006    0.365376
2007   -0.613201
2008    0.473690
2009    2.004424
Freq: A-DEC, dtype: float64

In [219]:
ts.index

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]')

In [222]:
ts.asfreq('M', how='S')

2006-01    0.365376
2007-01   -0.613201
2008-01    0.473690
2009-01    2.004424
Freq: M, dtype: float64

In [223]:
ts.asfreq('B', how='E')

2006-12-29    0.365376
2007-12-31   -0.613201
2008-12-31    0.473690
2009-12-31    2.004424
Freq: B, dtype: float64

In [224]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [225]:
p

Period('2012Q4', 'Q-JAN')

In [226]:
p.asfreq('D', how='start')

Period('2011-11-01', 'D')

In [227]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [228]:
p

Period('2012Q4', 'Q-JAN')

In [233]:
p4pm = (p.asfreq('B', 'E') -1).asfreq('S', 'S') + 16 * 60 * 60

In [234]:
p4pm

Period('2012-01-30 16:00:00', 'S')

In [235]:
p4pm.to_timestamp() # 转为pd内的时间戳

Timestamp('2012-01-30 16:00:00')

In [236]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [237]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [238]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [239]:
new_rng = (rng.asfreq('B', 'E') - 1).asfreq('T', 's') + 16 * 60

In [240]:
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]')

In [241]:
ts.index = new_rng.to_timestamp()

In [242]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [243]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [244]:
ts = pd.Series(np.random.randn(3), index=rng)

In [245]:
ts

2000-01-31   -1.311915
2000-02-29    0.598358
2000-03-31   -0.227324
Freq: M, dtype: float64

In [246]:
pts = ts.to_period()

In [247]:
pts

2000-01   -1.311915
2000-02    0.598358
2000-03   -0.227324
Freq: M, dtype: float64

In [248]:
pts.to_timestamp?

In [249]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [250]:
rng

DatetimeIndex(['2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03'],
              dtype='datetime64[ns]', freq='D')

In [251]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [252]:
ts2

2000-01-29    1.264986
2000-01-30    0.356334
2000-01-31    0.420648
2000-02-01    0.630548
2000-02-02    1.016229
2000-02-03    0.503837
Freq: D, dtype: float64

In [253]:
ts2.to_period(freq='M')

2000-01    1.264986
2000-01    0.356334
2000-01    0.420648
2000-02    0.630548
2000-02    1.016229
2000-02    0.503837
Freq: M, dtype: float64

In [254]:
pts = ts2.to_period('M')

In [255]:
pts

2000-01    1.264986
2000-01    0.356334
2000-01    0.420648
2000-02    0.630548
2000-02    1.016229
2000-02    0.503837
Freq: M, dtype: float64

In [259]:
pts.to_timestamp('D', how='end')

2000-01-31 23:59:59.999999999    1.264986
2000-01-31 23:59:59.999999999    0.356334
2000-01-31 23:59:59.999999999    0.420648
2000-02-29 23:59:59.999999999    0.630548
2000-02-29 23:59:59.999999999    1.016229
2000-02-29 23:59:59.999999999    0.503837
dtype: float64

In [284]:
data = pd.read_csv('examples/macrodata.csv')

In [280]:
data.head(-5) # 直到-5

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2007.0,2.0,13203.977,9291.5,2162.214,898.713,9842.7,207.338,1370.0,4.72,4.5,301.714,2.75,1.97
194,2007.0,3.0,13321.109,9335.6,2166.491,918.983,9883.9,209.133,1379.2,4.00,4.7,302.509,3.45,0.55
195,2007.0,4.0,13391.249,9363.6,2123.426,925.110,9886.2,212.495,1377.4,3.01,4.8,303.204,6.38,-3.37
196,2008.0,1.0,13366.865,9349.6,2082.886,943.372,9826.8,213.997,1384.0,1.56,4.9,303.803,2.82,-1.26
197,2008.0,2.0,13415.266,9351.0,2026.518,961.280,10059.0,218.610,1409.3,1.74,5.4,304.483,8.53,-6.79

In [263]:
data.head?

In [265]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [266]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [287]:
# year = data.year.apply(int)
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

In [288]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203)

In [289]:
data.index = index

In [290]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [291]:
pd.PeriodIndex?

In [278]:
year

1959Q1    1959
1959Q2    1959
1959Q3    1959
1959Q4    1959
1960Q1    1960
          ...
2008Q3    2008
2008Q4    2008
2009Q1    2009
2009Q2    2009
2009Q3    2009
Freq: Q-DEC, Name: year, Length: 203, dtype: int64